{% extends 'layout/base.html.twig' %}

{% block title %}{{ question.content }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
                <li class="breadcrumb-item"><a
                            href="{{ path('adminEditQuiz', {'id' : question.quiz.id}) }}">
                        Back to quiz</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit question</li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit Question</div>

                    <div class="card-body">
                        <form action="" class="form-horizontal" method="POST">
                            <div class="form-group">
                                <label for="content">Question content</label>
                                <div class="col-xs-8">
                                    <input type="text" id="content" name="content" class="form-control"
                                           placeholder="Question content" value="{{ question.content }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-10">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>

                        </form>

                        {% if answers is defined and answers | length > 0 %}
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Answer</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for answer in answers %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('adminEditAnswer',{'id': answer.id }) }}">{{ answer.content }}</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info" href="{{ path('adminEditAnswer',{'id': answer.id }) }}" role="button">Edit</a>
                                        </td>
                                        <td>
                                            <form action="{{ path('adminDeleteAnswer',{'id': answer.id }) }}"
                                                  class="form-horizontal" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div>No Answers related to this question.</div>
                        {% endif %}
                        <div>
                            <a class="btn btn-primary" href="{{ path('adminAddAnswer', {'parent_id' : question.id }) }}" role="button">Add Answer</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
