{% extends 'layout/base.html.twig' %}

{% block title %}Quizes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="" class="form-horizontal" method="get">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="md-form active-cyan-2 mb-3">
                                <input class="form-control" type="text" placeholder="Search" name="search"
                                       aria-label="Search">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-10">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if app.request.get('search') is defined and app.request.get('search') is not empty %}
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="py-2">
                                    You searched for: {{ app.request.get('search') }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="py-2">
                                    <a class="btn btn-danger" href="{{ path('index') }}" role="button">Reset</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">All Quizes</div>

                    <div class="card-body">
                        <div class="list-group">

                            {% if quizes is defined and quizes | length > 0 %}

                                {% for quiz in quizes %}
                                    <a href="{{ path('quizById', {'id' : quiz.id}) }}"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ quiz.title }}</h5>
                                        </div>
                                        <p class="mb-1">{{ quiz.description }}</p>
                                    </a>
                                {% endfor %}

                            {% else %}
                                <div class="p-2">
                                    No Quizes
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
